#####**FUNCTION PART  - 3 || DATE := 13TH NOVEMBER.**

 *  **DECORATOR**

In [ ]:
def test1(func) :
  def test2() :
    print("helloe i am inside the test1 :")
    func()
    print("test2 executed")
  return test2

In [ ]:
@test1
def test3() :
  print("hellow world")

In [ ]:
test3()

helloe i am inside the test1 :
hellow world
test2 executed

In [ ]:
@test1
def test4() :
  return 6+2

In [ ]:
test4()

helloe i am inside the test1 :
test2 executed





*  When we return the 6+2 it did not print any thing when we call function 
test4() it did not print anything 

*  To print the output of the below function we need to print the function
as follows

In [1]:
def test1(func) :
  def test2() :
    print("hellow i am inside the test1 :")
    func()
    print(func())
    print("test2 executed")
  return test2

In [3]:
@test1
def test4() :
  return 6+2

In [4]:
test4()

helloe i am inside the test1 :
8
test2 executed

In [10]:
test4() + 878

helloe i am inside the test1 :
8
test2 executed

TypeError: ignored

**When we use the decorator we are not allow to perform this type of premitive operations**

**When we use the decorator it gives the data type of the function as nonetype**

------------------------------------------------------------------------------------------------

In [ ]:
a = test4()

helloe i am inside the test1 :
8
test2 executed

In [ ]:
a

In [ ]:
type(a)

NoneType

In [5]:
def test5() :
  return 6+5

In [6]:
test5()

11

In [8]:
type(test5())

int

In [9]:
test5() + 8789

8800



**when we are not use the decorator then this type of premiive operations are allow to perform.**

**To solve this we have to return the function which we are passed** 

**To understand it better see the following code**

In [11]:
def test1(func) :
  def test2() :
    print("hellow i am inside the test1 :")
    func()
    print(func())
    print("test2 executed")
    return func()
  return test2

In [12]:
@test1
def test4() :
  return 6+2

In [13]:
test4()

hellow i am inside the test1 :
8
test2 executed

8

In [14]:
type(test4())

hellow i am inside the test1 :
8
test2 executed

int

In [15]:
test4() + 7878

hellow i am inside the test1 :
8
test2 executed

7886

-------------------------------------------------------------------------------------------

In [22]:
def test5(func) :
  def test6() :
    func() 
    print(func())
    print("hellow world")
  return test6

In [23]:
@test5
def test7() :
  return 9+9

In [24]:
test7()

18
hellow world

In [26]:
test7() + 878

18
hellow world

TypeError: ignored

In [25]:
type(test7())

18
hellow world

NoneType

**When we print the function it gives the datatype of the function as nonetype and bocoz of this reason we are not able to perform some premitive type of operations suppose if we have to perform the premitive type operations then we need to convert the nonetype function into the premitive datatype. To convert the nonetype function into integer or into any another premitive datatype then we have to return that function as follows**

**To understand it better see the following code**

In [27]:
def test5(func) :
  def test6() :
    func() 
    print(func())
    print("hellow world")
    return func()
  return test6

In [28]:
@test5
def test7() :
  return 9+9

In [29]:
test7()

18
hellow world

18

In [30]:
test7() + 88978

18
hellow world

88996

**This approch we have to use to solve the above problem**

####**Another problem**

In [31]:
def test8(func) :
  def test9() :
    func() 
    print("hellow world ")
    return func
  return test9

In [32]:
def test10(a,b) :
  return a+b

In [33]:
test10("mahendra" , "gharad")

'mahendragharad'

In [34]:
@test8
def test10(a,b) :
  return a+b

In [35]:
test10()

TypeError: ignored

**When we pass the argument inside the base function then is also important to pass the argument inside the main function to perform the task**

**To understand it better see the following code**

In [39]:
def test8(func) :
  def test9(a,b) :
    func(a,b) 
    print("hellow world ")
    return func(a,b)
  return test9

In [46]:
@test8
def test10(a,b) :
  return a+b

In [42]:
test10("mahendra" , "patil")

hellow world

'mahendrapatil'

**Now in the above function if we uncrease the number of arguments then we need to pass that arguments also inside the main function every time when we increase the number of arguments in the base function so it is not good way to do that to do it in simplest way we use asteric '*' sign with args name as follow**

**To understand it better see the following code**

In [59]:
def test8(func) :
  def test9(a,b,c) :
    func(a,b,c) 
    print("hellow world ")
    return func(a,b,c)
  return test9

In [60]:
@test8
def test10(a,b,c) :
  return a+b+c

In [61]:
test10("mahendra" , "gharad" , "patil")

hellow world

'mahendragharadpatil'

In [63]:
def test8(func) :
  def test9(*args) :
    func(*args) 
    print("hellow world ")
    return func(*args)
  return test9

In [64]:
@test8
def test10(a,b,c,d) :
  return a+b+c+d

In [66]:
test10("mahendra" , "gharad" , "patil" , "goregaon")

hellow world

'mahendragharadpatilgoregaon'

**To use 'kwargs' add it to the main function as follows**

In [67]:
def test8(func) :
  def test9(*args,**kwargs) :
    func(*args,**kwargs) 
    print("hellow world ")
    return func(*args,**kwargs)
  return test9

In [70]:
@test8
def test10(**kwargs) :
  return kwargs

In [71]:
test10(a=78,b=78,c=565,d=454)

hellow world

{'a': 78, 'b': 78, 'c': 565, 'd': 454}

####**lambda Function**

**How to create the lambda function**

**To understand it better see the following code**

In [75]:
lambda a , b : a + b

**In the above functions which we are created we have to use the function name to define function. In the lambda function we don't need to give the name to the function.**

**To get the output of the lambda function we need to store it in the variable**

**It also called the anonymous function becoz it does not contain any name to define the function**

In [76]:
c = lambda a , b : a + b

In [77]:
c("mahendra" , "patil")

'mahendrapatil'

**In the above way we get the output of the lambda function**

In [78]:
d = lambda *args : args

In [79]:
d(6,6,6,6)

(6, 6, 6, 6)

In [85]:
e = lambda ** args : args

In [87]:
e = (a:898,b:787,c:878,d:776)

SyntaxError: ignored

####**Map Function()**

In [88]:
l = [1,2,3,4,5,6,7,8]

**We have to convert this list into the following form as**

**l = [11,12,13,14,15,16,17,18]** 

**By using loop and function**

**See the following code**

In [91]:
def listed() :
  l = [1,2,3,4,5,6,7,8]
  l1 = list()
  for i in l :
    l1.append(i+10)
  return l1

In [92]:
listed()

[11, 12, 13, 14, 15, 16, 17, 18]

**Now we will perform same operation using map function**

In [102]:
def test11(a) :
  return a + 10

In [105]:
map(test11,l)

In [106]:
list(map(test11,l))

[21, 22, 23, 24, 25, 26, 27, 28]

In [107]:
map(listed , l )

In [111]:
map(lambda a : a + 10 , l )

In [110]:
list(map(lambda a : a + 10 , l ))

[21, 22, 23, 24, 25, 26, 27, 28]

In [118]:
n = lambda a : a + 10

In [119]:
list(map(n,l))

[21, 22, 23, 24, 25, 26, 27, 28]

**Map function just map your iterator with your function**

**Another problem and ways to solve that problem**

In [120]:
l1 = ["mahendra" , "gharad" , "patil"]

In [123]:
l2 = list()
for i in l1 :
  l2.append(i.upper())

In [124]:
l2

['MAHENDRA', 'GHARAD', 'PATIL']

In [129]:
lambda l1 : l1.upper()

In [130]:
c =lambda l1 : l1.upper()

In [131]:
c

In [132]:
map(lambda a : a.upper() , l1)

In [133]:
list(map(lambda a : a.upper() , l1))

['MAHENDRA', 'GHARAD', 'PATIL']

In [135]:
def caps(a) :
  return a.upper()

In [139]:
list(map(caps, l1))

['MAHENDRA', 'GHARAD', 'PATIL']

**Find the length of the every string**

In [140]:
l1

['mahendra', 'gharad', 'patil']

In [142]:
def length(a) :
  return len(a)

In [143]:
list(map(length, l1))

[8, 6, 5]

In [144]:
list(map(len, l1))

[8, 6, 5]

In [145]:
l3 = [1,2,3,4,5,6,7,8,9]

In [2]:
l3 = [1,2,3,4,5,6,7,8,9]
l4 = list() 
for i in l3 :
  if i % 2 == 0 :
    l4.append(i)

In [3]:
l4

[2, 4, 6, 8]

In [7]:
def even(a) :
    if a % 2 != 1 :
        return a

In [8]:
map(even , l3 )

In [9]:
list(map(even , l3 ))

[None, 2, None, 4, None, 6, None, 8, None]

**It gives the none , none , none becoz map is map all the element so when it going to map thatb element which aree not even then on the place of that it return us the none**

In [21]:
lambda a : a if a % 2 == 0 else None

In [28]:
l6 = list()
a = lambda a : a if a % 2 == 0 else None 
l6.append(a)

####**List comprehenssion**

In [20]:
l3 = [1,2,3,4,5,6,7,8,9]

In [14]:
[ i for i in l3 if i % 2 == 0 ]

[2, 4, 6, 8]

In [16]:
l1 = ['mahendra' , 'gharad' , 'patil']

In [17]:
[i.upper() for i in l1 ]

['MAHENDRA', 'GHARAD', 'PATIL']

In [18]:
l = [1,2,3,4,5,6,7,8]

In [19]:
[i + 10 for i in l ]

[11, 12, 13, 14, 15, 16, 17, 18]

####**Filter() it is same as the map function**

In [32]:
a = lambda a : a if a % 2 == 0 else None

In [33]:
filter(a , l)

In [34]:
list(filter(a , l))

[2, 4, 6, 8]

**Filter perform operations based on true and false conmdition**

####**Reduce function**

In [35]:
l = [1,2,3,4,5,6,7,8]

In [36]:
sum(l)

36

In [54]:
l = [1,2,3,4,5,6,7,8,9]

In [46]:
mul = 1 
for i in l :
  mul = mul * i 
print(mul)

40320

In [50]:
from functools import reduce

In [51]:
reduce (lambda a , b : a * b , l )

40320

In [56]:
l = [1,2,3,4,5,6,7,8,9]

In [57]:
reduce (lambda a , b , c : a * b * c , l )

TypeError: ignored

**When we use the reduce function we should only pass two arguments.**

In [60]:
l7 = [3]

In [61]:
reduce (lambda a , b , c : a * b * c , l7 )

3

####**Docstring AND Notation**

In [63]:
def test26(a : int ,b : "func", c:int  = 234) -> int:
    '''this is my doc string to give a hint to next programer '''
    return a +b +str(c)

In [64]:
test33()

what is docstring